<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.Name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @application.Age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @application.Gender %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @application.Designation %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
